body{

    background-image:url("bg.gif");
    background-size:cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Arial', sans-serif;
    align-items: center;
    /*main  */
    
}

.title{display: flex;
    width: 80% ;
    height: 5%;
    background-color: aqua;
    text-align: center;
}

.navbar {
    background-color: #333333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    text-size-adjust:initial;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
body {
    padding-top: 60px;
}

.container-login{
    margin: auto;
    margin-top:10% ;
    display: grid;
    width: 20%;
    height: 60%;

    background-color: rgba(66, 64, 64, 0.8);
    text-align: center;
    justify-content: center;
    border: 4px solid #333; 
    border-radius: 20px;


}
.transparent-textbox {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px;
    height: 30px;
    text-align: center;
}

.transparent-textbox input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.8);
}

.transparent-textbox input[type="text"] {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    color: rgba(0, 0, 0, 0.7);
    background: none;
    border: none;
}






/* gallery css */

.gallery-box{
    display: flex;
    justify-content: center;
    margin: 0;
    color: white;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.collection{
    display: grid;
    width: 80%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    border: 4px solid #333; 
    border-radius: 20px;
  
}

.box {
    display: flex;
    text-align: center;

}
.imgs{
    display: grid;
    text-align: center ;
     justify-content: center;
     margin-top: 2%;
     margin-bottom:2% ;

}

.box .imgs img {
    
    width: 80%;
   
    border: 4px solid #c2bfbf; 
    border-radius: 20px;
    

}



/* profile css */


.profile-container{
width: 80%;
height: 200%;
background-color: rgba(0, 0, 0, 0.5);
margin: auto !important;
border-radius: 10px;
text-align: center;
border: 3px solid #333333;

}

.cover-photo{
    width:auto; 
    height: 500px; 
    background-color: black; 
    background-image: url('cover.webp');
    background-repeat: no-repeat;
    background-size:cover;
    border-bottom: 6px solid black;

}
.profile-container h1{
    color:#ddd;
    padding-top:1% ;
    padding-left: 1%;
    /* font-size:  */
    text-align: center;    
}

.profile-container .container{
    
    width: 300px;
    height: 300px;
    overflow: hidden; 
    
    border-radius: 50%;
    /* z-index: 1; */
    background-color: pink;
    background-image: url("meow meow.jpg");
    background-size:cover;
    margin-top: -50%;
    border: 6px solid blue;
}
